<h1>Gallery</h1>

<%= link_to "Donate to the Chair community", new_chair_path %>

<% @chairs.each do |chair| %>
    <li>
      <%= link_to chair.name, chair_path(chair.id) %>
      <%#= link_to "edit", edit_chair_path(chair[:id]) %>
    	
    </li>
<% end %>