<!-- show page -->
<h1>Gallery</h1>

	<center><%= link_to "Donate to the Chair community", new_chair_path %></center>

<br></br>
	<% @chairs.each do |chair| %>
    	<ul class="gallery">
      	<p><%= link_to chair.name, chair_path(chair.id) %></p>
      	<p><%= image_tag chair.image(:medium) %></p>
    	</ul>
	<% end %>