<!-- show page -->

<h1></h1>
<div class="row-fluid">
		<h2><%= link_to "Donate", new_chair_path, :class => "btn btn-default" %></h2>
	</div>
</div>	

<br></br>
		
			<% @chairs.each do |chair| %>
		    	<div class="row">
					<div class="col-sm-4">
		      		<p><%= link_to chair.name, chair_path(chair.id) %>
		      		<p><%= image_tag chair.image(:medium) %></p></br>
		      	</div>
		    	
			<% end %>
		
