<!-- user chair page -->

<h1>User chair page</h1>
<p>Type: <%= @chair.name%></p>
<p>Description: <%= @chair.description%></p>
<p>Description: <%= @chair.image%></p>

<%= link_to "Back To Chairs List",chairs_path%>