/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * 
 *= require bootstrap.min.css
 *= require_tree .
 *= require_self
 */

.navbar-toggle .icon-bar {
	/*padding-bottom: 3px;*/
	margin-bottom: 4px;
}

.icon-bar {
	color: #2F4F4F;
}

.navbar-toggle {
	background-color: #FAEBD7;
}

img {
	border: 1px solid #D3D3D3;
}

a > img {
	border: none;
}

body {
	background-color: #F5F5F5;
}

#flick {
	background-color: #E0FFFF;
}

h2 {
	font-family: 'Arvo', serif;
}

#chair-flow {
	width: 225%;
}

.navbar-brand {
	color: #FAEBD7;
	font-family: 'Arvo', serif;
	font-size: 40px;
}

.btn-default {
	border: 2px solid black;
}

p {
	text-align: center;
	color: #2980b9;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

a.navbar-text {
	font-size: 18px;
	margin-top: 21px;
	font-family: 'Arvo', serif;
	color: #FAEBD7;
}

.nav > li > a:hover, a:focus {
	text-decoration: underline;
	color: #2a6496;
	background-color: transparent;
}

.navbar-nav > li > a {
	color: #FAEBD7;
	font-family: 'Arvo', serif;
	font-size: 18px;
	margin-top: 9px;
}

.navbar-fixed-bottom > a{
	font-family: 'Arvo', serif;
	color: #FAEBD7;
	font-size: 18px;
}

.navbar-fixed-bottom > a:hover, a:focus{
		color: #2a6496;

}

.navbar {
	background-color: #5F9EA0;
	height: 1%;
}

h1 {
	font-family: 'Arvo', serif;
	text-align: left;
	color: #4682B4;
}
/*
@media only screen and (max-width: 640px){}
@media only screen and (max-width: 479px){}
*/

