/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * 
 *= require bootstrap.css
 *= require_tree .
 *= require_self
 */

#flick {
	background-color: #E0FFFF;
}

h2 {
	font-family: 'Arvo', serif;
}

.navbar-brand {
	color: white;
	font-family: 'Arvo', serif;
	font-size: 30px;
}

p {
	text-align: center;
	color: black;
}

.navbar-nav > li > a {
	color: white;
	font-family: 'Arvo', serif;
	font-size: 15px;
}

.navbar-fixed-bottom > a{
	font-family: 'Arvo', serif;
	color: white;
	font-size: 15px;
}

.navbar {
	background-color: #5F9EA0;
	height: 1%;
	color: white;
}

h1 {
	font-family: 'Arvo', serif;
}

@media only screen and (max-width: 640px){}
@media only screen and (max-width: 479px){}


