// Place all the styles related to the chairs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


	
// #google {
// 	float:right;
// }



.btn-danger {
	width: 30%;
	text-align: left;
}

.btn-info {
	width: 30%;
}

