
<br></br>
<h1>Chairs</h1>









<div class="navbar navbar-fixed-bottom">
	   <a href="/about" class="navbar-text">About</a>
	   <a href="/contact" class="navbar-text">Contact</a>
	   <a href="/privacy" class="navbar-text">Privacy</a>
	</div>