<div class="container">
	<h1>Contact us</h1>
<br></br>
	<center><a href="mailto:info@chair-app.com?">Email: info@chair-app.com</a></center>
	<h2></h2>
	<h2></h2>
</div>







<div class="navbar navbar-fixed-bottom">
	   <a href="/about" class="navbar-text">About</a>
	   <a href="/contact" class="navbar-text">Contact</a>
	   <a href="/privacy" class="navbar-text">Privacy</a>
	</div>