<!DOCTYPE html>

<html>
		<body id="flick">
			<br></br>
					<center><img src="https://farm6.staticflickr.com/5339/13949309819_92acf4a030_o.png" width="500" height="500" alt="LT_CYAN"></a></center>
		</body>
</html>