<!DOCTYPE html>

<html>
	<br></br>
	
		<body id="flick">
			<div class="content">
	    <hgroup>
	      <!-- <h1>Chair</h1> -->
	      <h1><a href="<%= chairs_path %> ">Chair</a></h1>
	      <h3>join the community</h3>
	    </hgroup>
	  </div>
			<br></br>
					<center><img src="https://farm6.staticflickr.com/5339/13949309819_92acf4a030_o.png" width="500" height="500" alt="LT_CYAN"></a></center>
		</body>
</html>