Welcome to the chair app!!!






<div class="navbar navbar-inverse navbar-fixed-bottom">
   <a href="/contact" class="navbar-text">About</a>
   <a href="/terms" class="navbar-text">Contact</a>
   <a href="/privacy" class="navbar-text">Privacy</a>
</div>