<h5>
	Here at Chair, we respsect your privacy, and will not share your data or personal information with anyone.
</h5>















<div class="navbar navbar-fixed-bottom">
	   <a href="/about" class="navbar-text">About</a>
	   <a href="/contact" class="navbar-text">Contact</a>
	   <a href="/privacy" class="navbar-text">Privacy</a>
	</div>